*~
build/
children/build/
db/
html/
templates/
cdCommands
tags
.project
.cproject
.settings/
/bin/
/events/
/db/ioc*
/db/reccaster.db
/db/waveform.db
/dbd/
/include/
/lib/
O.*/
envPaths
*.swp
*.~lock*
screenlog.0
RELEASE_SITE
archive/
